httpx
pyotp
asyncio
psutil
pypiwin32
pycryptodome
pyinstaller>=5.0
PIL-tools
asyncio
threaded
requests
datetime
colorama
pyinstaller
pillow
pycryptodome
alive-progress
winregistry
pywin32
